.services-container-image
  @extend %container-image
  +bgImage("services-bg.jpg")
  //+coverImageHeight
  //min-height: $coverImageHeight / 2.5
  min-height: $coverImageHeight / 4
  background:
    // position: top center
    position: center bottom
  position: relative
  .page-container
    padding-top: 0

.services-content
  @extend .welcome-content

.services-header,
.services-subheader
  @extend .welcome-header
  color: #fff


.services-header
  @extend %serif-font
  @extend %large-header-serif
  font-weight: normal
  margin-top: 1em

.services-subheader-block
  position: absolute
  width: 100%
  bottom: 0
  left: inherit

.services-subheader
  @extend %extra-large-header
  margin-bottom: -0.35em


//.services-page-services-list
  @extend %unstyled-list
  .service-item
    margin-bottom: 3em
  .service-title
    @extend %large-header
  .service-description
    @extend %serif-font
    font-size: $rem * 0.85
    line-height: $baseLineHeight
    color: $gray
    li
      margin-bottom: 0.5em

.services-block-compact
  margin-top: 1em
  .services-page-services-list
    @extend %unstyled-list
    margin:
      top: 1em
      bottom: 4em
    .service-item
      margin-bottom: 1em
    .service-title
      @extend %compact-header
      font-weight: 700
      //margin-bottom: 0.5em
    .service-description
      @extend %serif-font
      @extend %compact-text
      color: $gray
      li
        display: inline-block
        margin:
          right: 1.5em
          bottom: 0.5em


