<div class="contacts-block">
  <span class="glyphicon glyphicon-map-marker icon-color-gray-light"></span>
    <a href="map" id="map-switch">Russian Federation,
      Cheboksary,
      Akademika Krylova, 7
    </a>
</div>
<div class="footer-map-block collapse">
  <h5 class="pull-left no-margin-top">
    Find our office
  </h5>
  <button class="close pull-right" href="map">×</button>
  <div class="clearfix"></div>
  <div class="footer-map">
    <img src="//api-maps.yandex.ru/services/constructor/1.0/static/?sid=dzDcQ9HM2RAzBNcdLwrB43-rhduCVkca&amp;width=600&amp;height=450">
  </div>
</div>
<br>
<span class="glyphicon glyphicon-paperclip icon-color-gray-light"></span>
<a target="blank" href="https://docs.google.com/document/d/1bDvbMnH396FZZNk74YtxNkb_O-kWTicpiVLAfo_92_E/edit">Bank details</a>
<br>