<a name="contacts"></a>
<a name="contacts"></a>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="pull-left">
        <span class="glyphicon glyphicon-send icon-color-gray-light"></span>
        &nbsp;
      </div>
      <div class="pull-left">
        <h5 class="no-margin-top"><a href="mailto:danil@brandymint.ru">danil@brandymint.ru</a></h5>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="pull-left">
        <span class="glyphicon glyphicon-earphone icon-color-gray-light"></span>
        &nbsp;
      </div>
      <div class="pull-left">
        <h5 class="no-margin-top">
          <a href="skype:danil_pismenny">danil_pismenny</a>
        </h5>
        <h5>
          <a href="skype:tanya_elacheva">tanya_elacheva</a>
        </h5>
        <h5 class="no-margin-bottom">
          <span class="phonenumber">
            <a href="skype:+7 903 389 12 28">+7 903 389 12 28</a>
            &nbsp;
          </span>
          <small class="muted">Danil Pismenny</small>
        </h5>
        <br>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-sm-6 col-md-5" id="map-region"></div>
  </div>
</div>
<hr>
<div class="container">
  <p>
    © Brandymint LLC, 2010–2013
  </p>
</div>