%container-image
  min-height: 500px
  background:
    position: top center
    size: cover

body.index
  .page-container
    //background: rgba(0,0,0,0.3)
  .page-container-image
    @extend %container-image
    background: url("#{$images_path}/welcome-bg.jpg") top center

.welcome-content
  padding:
    top: 100px
  @media screen and (min-width: $screen-lg)
    padding:
      top: 4em
      //bottom: 6em

.welcome-header
  font-weight: 300
  //text-shadow: 0 1px 1px rgba(0,0,0,0.2)
  -webkit-font-smoothing: antialiased

.welcome-header,
.large-header
  font:
    size: $largeHeaderFontSize
    weight: 900
  line-height: 1.3em
  margin-bottom: 1em

.welcome-block
  padding:
    top: $blockVerticalPadding
    bottom: $blockVerticalPadding

.welcome-whatwedo-block
  @extend %serif-font
  font-size: $largeTextFontSize
  line-height: (60px/36px) * 1em


.welcome-project
  .welcome-project-container-image
    @extend .welcome-block
    @extend %container-image
    text-align: center
  .welcome-project-btn
    @extend .btn-primary-outline
  &.welcome-project-bg-dark
    +antialiased
    color: #fff
    a
      +link-colors(#fff)
    .welcome-project-btn
      @extend .btn-outline-white

.welcome-project-header
  @extend .welcome-header

.welcome-project-subheader
  @extend %serif-font
  font-size: $baseFontSize
  margin-bottom: 2em
