@charset "UTF-8"
//  require_tree .
@import base
@import utils

@import buttons
@import navbar
@import footer

@import welcome
@import tech_methods
@import projects
@import team

body
  background: $footerBackground

.application-container
  background: #fff

.page-container
  padding:
    top: 50px
  margin-bottom: 20px
  @media screen and (max-width: $screen-xs)
    margin-bottom: 10px

.page-content
  padding:
    top: 60px
    bottom: 60px


