.welcome-block.welcome-contacts
  .container
    .row
      .col-md-6.col-md-offset-3
        %h2.welcome-header
          Contact
      .col-sm-4.col-sm-offset-2.article-text
        = link_to 'mailto:hello@brandymint.com', class: 'contacts-link' do
          %strong hello@brandymint.com
        %br
        %br
        = link_to 'tel:+79033891228', class: 'contacts-link' do
          %small +7 903 389 12 28
      .col-sm-4.col-sm-offset-2.contacts-text
        Russian Federation
        %br
        Cheboksary
        %br
        Akademika Krylova, 7


