.page-container-image
  .page-container
    .container
      .welcome-content
        %h1.welcome-header
          We build web, mobile
          %br
          and backend applications.
        .welcome-subheader
          %a.btn.btn-primary-outline{ href: '#projects' }
            Learn more


