.page-container-image{role: 'cover-image'}
  .page-container
    .container
      .welcome-content
        %h1.welcome-header
          We build web, mobile
          %br
          and backend applications.
        .welcome-subheader
          %a.btn.btn-primary-outline{ href: 'services' }
            -#= link_to services_path, class: 'btn btn-primary-outline' do
            Learn more


