.container
  .welcome-block.welcome-whatwedo-block
    .row
      .col-sm-8.col-sm-offset-2
        We help you to reveal 
        %em possibilities
        -#.linebreak-all
        and
        %em constraints
        and turn them into profit.
        %br
        -#digital products.
        -#.linebreak-all
        Starting with a prototype, we iterate,
        -#.linebreak-all
        come to a
        %em common vision
        with you and build
        %em better products.
        This is how we create solutions to improve your
        %em customer experience.



