---
title: brandymint — we build web, mobile and backend systems
body_class: index
---

%article
  = partial 'welcome/welcome_block'
%article
  = partial 'welcome/what_we_do'
%article
  = partial 'welcome/projects'
-#%article.welcome-project-convead

